{% load static %}
{% load nblog2 %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'nblog2/style.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/vrt4lod.css">
    <script>
        (function (d) {
            var config = {
                    kitId: 'jjv2htu',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function () {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {
                }
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    {% block extrahead %}{% endblock %}
</head>
<body>

<header id="site-header" class="container">
    <h1><a href="{% url 'nblog2:note_list' %}">{% block title %}DESIGN NOTE{% endblock %}</a></h1>
</header>

{% block content %}{% endblock %}

<footer id="site-footer">
    <div class="container">
        <ul id="footer-link">
            {% block link %}{% endblock %}
        </ul>
        <p>{% block copyright %}{% endblock %}</p>
    </div>
</footer>

</body>
</html>