{% load static %}
{% load nblog2 %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'nblog2/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP&display=swap" rel="stylesheet">
    {% block extrahead %}{% endblock %}
</head>
<body>

<header id="site-header" class="container">
    <h1><a href="{% url 'nblog2:note_list' %}">{% block title %}DESIGN NOTE{% endblock %}</a></h1>
</header>

{% block content %}{% endblock %}


<aside>
    <div id="search-heading">
        <h2 class="container">Search</h2>
    </div>

    <div class="container">
        <form action="{% url 'nblog2:note_list' %}" method="GET" id="search-form">
            {% render_search_form request %}
        </form>
    </div>

</aside>

<footer id="site-footer">
    <div id="footer-heading">
        <p class="copyright container">{% block copyright %}{% endblock %}</p>
    </div>

    <ul id="footer-link">
        <div class="container">
            {% block link %}{% endblock %}
        </div>
    </ul>
</footer>

</body>
</html>