{% extends 'nblog2/base_site.html' %}
{% load humanize %}
{% load nblog2 %}

{% block meta_title %}{{ note.title }} | {{ block.super }}{% endblock %}

{% block content %}
    <p class="menu"><a href="{% get_return_link request %}">戻る</a></p>

    <article class="detail">
        <header class="box">

            <div class="right">
                <a href="{{ note.thumbnail.url }}" target="_blank">
                    <img src="{{ note.thumbnail.url }}" alt="{{ note.title }}">
                </a>
            </div>

            <div class="left">
                <div class="meta">
                    <h1 class="title">{{ note.title }}</h1>

                    <p class="category">{{ note.category }}</p>
                    <p class="date">{{ note.created_at }}（
                        <time class="updated_at"
                              datetime="{{ note.updated_at | date:'Y-m-d' }}">{{ note.updated_at | naturaltime }}に更新
                        </time>
                        ）
                    </p>
                </div>

                <div class="text">
                    {{ note.description | linebreaks | urlize }}
                </div>
            </div>

        </header>

        {% for page in note.page_set.all %}
            <section class="box">
                <div clasS="right">
                    {% if page.image %}
                        <a href="{{ page.image.url }}" target="_blank">
                            <img src="{{ page.image.url }}" alt="{{ page.title }}">
                        </a>
                    {% endif %}
                </div>
                <div class="left">
                    {% if page.title %}
                        <div class="meta">
                            <h2 id="sec{{ page.index }}">{{ page.title }}</h2>
                        </div>

                    {% endif %}
                    <div class="text">
                        {{ page.text | linebreaks | urlize }}
                    </div>

                </div>

            </section>
        {% endfor %}

    </article>

{% endblock %}