{% extends 'nblog2/base_site.html' %}
{% load humanize %}
{% load nblog2 %}

{% block content %}
    <div id="menu">
        <h1 class="container">{{ heading }}</h1>
    </div>
    <section id="list" class="container">
        {% for note in note_list %}

            <article class="box">

                    <a href="{{ note.thumbnail.url }}" target="_blank">
                        <img class="thumbnail" src="{{ note.thumbnail.url }}" alt="{{ note.title }}">
                    </a>


                    <div class="meta">
                        <h2 class="title"><a href="{% url 'nblog2:note_detail' note.pk %}">{{ note.title }}</a></h2>

                        <p class="category">{{ note.category }}</p>
                        <p class="date">{{ note.created_at }}（
                            <time class="updated_at"
                                  datetime="{{ note.updated_at | date:'Y-m-d' }}">{{ note.updated_at | naturaltime }}に更新
                            </time>
                            ）
                        </p>
                    </div>

            </article>

        {% empty %}
            <p class="box">検索結果はありませんでした。</p>
        {% endfor %}


        <nav id="page">
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="page current">{{ num }}</span>
                {% else %}
                    <a href="?{% url_replace request 'page' num %}" class="page">{{ num }}</a>
                {% endif %}

            {% endfor %}
        </nav>
    </section>

<aside id="search" class="container">
    <h2>Search</h2>
    <form action="{% url 'nblog2:note_list' %}" method="GET" id="search-form">
        {% render_search_form request %}
    </form>
</aside>

{% endblock %}