@charset "UTF-8";
/* 共通設定 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: gill-sans-nova, noto-sans-cjk-jp, sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

h1, h2, h3 {
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: 1024px) {
  body {
    font-size: 16px;

  }

  h1, h2, h3 {
    font-size: 16px;
  }
}


a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 5px #ccc;
}

/* ユーティリティー */

/* コンテナ */
.container {
  padding: 0 10px;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1366px;
    margin: 0 auto;
  }
}

.thumbnail {

}

@media (min-width: 1024px) {
  .thumbnail {
    width: 437px;
    height: 273px;
    object-fit: cover;
  }
}

@media (min-width: 1366px) {
  .thumbnail {
    width: 388px;
    height: 242px;
  }
}


.box {
  margin-bottom: 100px;
}

.meta {
  color: #666;
  text-align: center;
}

.title {
  margin: 1em 0;
}

/* ヘッダー */

#site-header {
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;

}

#site-header h1 {
  font-size: 26px;
  letter-spacing: 5px;
}

#site-header a {
  color: #333;
}

/* ヘッダー下メニュー */
#menu {
  margin-bottom: 100px;
  text-align: center;
}

#menu a {
  color: #333;
  font-weight: bold;
}


/* ページネーション部分 */
#page {
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
}

#page > * {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
}

#page.current {
  color: #333;
}

/* 一覧 */
#list {

}

@media (min-width: 1024px) {
  #list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    column-gap: 50px;
    justify-items: center;
  }
}

@media (min-width: 1366px) {
  #list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/* 詳細 */
#detail h1, #detail h2 {

}

#detail header, #detail section {
  margin-bottom: 100px;
}

#detail .meta {
  text-align: left;
}

.section > * {
  margin: 1em 0
}

.text {
  max-width: 633px;
}

.text > * {
  margin: 1em 0;
  line-height: 2;
  text-align: justify;
  text-justify: inter-ideograph;
}


/* 検索フォーム */
#search {
  text-align: center;
  margin-top: 200px;
}

#search > h2 {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#search-form ul {
  list-style-type: none;
  margin-bottom: 20px;
}

#search-form ul li {
  display: inline-block;
  margin-right: 20px;
}

.field {
  max-width: 200px;
  margin: 0 auto 20px auto;
}

input[type="text"] {
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #333;
}

button {
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  border: solid 1px #333;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: #fff;
  transition: all 0.2s ease-out;
}


/* フッター */
#site-footer {
  margin-top: 200px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

#site-footer > p {
  letter-spacing: 2px;
  font-weight: bold;
}

#footer-link {
  list-style-type: none;
  padding: 0;
}

#footer-link li {
  display: inline-block;
  margin-left: 20px;
}

#site-footer a {
  color: #fff;
}




